<div>
  <h5 class="mb-4 text-muted">Dashboard/Gestion des formateur </h5>
  <!--List Stagiaires-->
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3" style="background-color: #ebb710;">
          <h5 style="font-size: 27px;"><i class='fas fa-users' style='font-size:27px'></i> &nbsp;Liste des
            formateurs<label style="float: right; font-size: 27px;"> Année Scolaire : 2019/2020</label></h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-2">
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="_searchTerm" placeholder="Chercher par nom">
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <select class="form-control" id="filiere" name="filiere" [(ngModel)]="filtere">
                  <option value="all">Filtrer par Specialité</option>
                  <option value="	Mathematique"> Mathematique</option>
                  <option value="Arabic">Arabic</option>
                  <option value="Physique">Physique</option>
                  <option value="Chimique">Chimique</option>
                  <option value="Informatique">Informatique</option>
                  <option value="economie">economie</option>
                  <option value="Physique">Chimique</option>
                  <option value="English">English</option>
                  <!--  <option *ngFor="let f of filieres" [value]="f.value">{{f.name}}</option>-->
                </select>
              </div>
            </div>

            <div class="col-lg-8" style="float: right;padding-left: 78px;">
              <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 " > <i class="fa fa-print"
                  style="font-size: 22px;"></i>&nbsp; <strong>Imprimer(.pdf)</strong></a>

              <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 " > <i class="fa fa-print"
                  style="font-size: 22px;"></i> &nbsp; <strong>Imprimer(.xls)</strong> </a>


              <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 "> <i
                  class="fa fa-print" style="font-size: 22px;"></i> &nbsp; <strong>Imprimer(.csv)</strong> </a>

              <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 " routerLink="/ajouter-formateur"> <i
                  class="fa fa-plus" style="font-size: 22px;"></i>&nbsp; <strong>Ajouter Formateur</strong>
              </a>
            </div>
          </div>

          <div class="table-responsive-md" id="htmlData" #htmlData>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">N°</th>
                  <th scope="col">Nom Complet</th>
                  <th scope="col">CIN</th>
                  <th scope="col">Specialité</th>
                  <th scope="col">Adresse</th>
                  <th scope="col">Tele</th>
                  <th scope="col">Email</th>
                  <th scope="col">Expérience(ans)</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let f of formateurs | async | formateurfilter : _searchTerm  |filterfilier : filtere  |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <th scope="row">{{f.idformateur}}</th>
                  <td style="padding-top: 22px;">{{f.numF}}</td>
                  <td style="padding-top: 22px;"><i style="font-size: 20px;"
                      [ngClass]="f.sexe==='Masculin' ? 'fa fa-male' : 'fa fa-female'"></i> &nbsp; {{f.nom}}</td>
                  <td style="padding-top: 22px;">{{f.cin}}</td>
                  <td style="padding-top: 22px;">{{f.specialiteDiplom}}</td>
                  <td style="padding-top: 22px;">{{f.adresse}}</td>
                  <td style="padding-top: 22px;">{{f.tele}}</td>
                  <td style="padding-top: 22px;">{{f.email}}</td>
                  <td style="padding-top: 22px;">{{f.anneeExp}}</td>
                  <td>
                    <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 "
                      (click)=" detailsFormateur(f.idformateur)" style="width: 39px; height: 35px;">
                      <i class="fas fa-info" style="width: 13px;"></i>
                    </a>
                    <button class="btn btn-sm btn-outline-lightning rounded-0 mr-2 "
                      (click)=" editFormateur(f.idformateur)" style="width: 39px; height: 35px;">
                      <i class="fas fa-edit"></i>
                    </button>

                    <a class="btn btn-sm btn-outline-lightning rounded-0" class="btn btn-outline-secondary"
                      mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                      placement="left" (confirm)="deleteFormateur(f.idformateur)" (cancel)="cancelClicked = true">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-1">
                    <label for="élements" style="margin-left: 10px;padding-top: 10px;">Afficher</label>
                  </div>
                  <div class="col-lg-2">
                    <div class="form-group">
                      <select class="form-control" name="show" id="show" [(ngModel)]="pageSize"
                        style="width: 80px;margin-left: 20px;">
                        <option value="6">6</option>
                        <option value="12">12</option>
                        <option value="24">24</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-1">
                    <label for="élements" style="padding-top: 10px;">élements</label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <ngb-pagination style="float: right; margin-right: 36px;" [collectionSize]=nbr [(page)]="page"
                  [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>