<div class="row">
  <div class="col-md-12 col-lg-12 mb-4 align-items-stretch">
    <div class="card border-0 rounded-0 h-100">
      <div class="card-title mb-1 p-3" style="background-color: #ebb710;">
        <h5>Informations générale</h5>
      </div>
      <div class="card-body">

        <div class="row" style="padding-top: 0%; margin-top: 0%;">
          <div class="col-md-12 col-lg-4 mb-4 align-items-stretch">
            <div class="card">
              <div class="card-header" style="background-color: #ebb710;">
                Informations personnelles
              </div>

              <div class="card-body">


                <table class="table table-striped table-inverse">
                  <tbody>
                    <div class="picture-wrapper mb-4">
                      <div class="user-picture m-auto">
                        <img src="./assets/img/user.jpg" class="img-fluid" alt="" width="140px">
                      </div>

                    </div>

                    <tr>
                      <td>
                        <p class="text-muted">  N° professionnelle :</p>
                      </td>
                      <td>
                        <p class="text-muted">{{formateur.numF}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="text-muted">Nom Complet : </p>
                      </td>
                      <td>
                        <p class="text-muted">{{formateur.nom}}</p>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        <p class="text-muted">Specialité :</p>
                      </td>
                      <td>
                        <p class="text-muted">{{formateur.specialiteExp}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p class="text-muted">E-mail: </p>
                      </td>
                      <td>
                        <p class="text-muted">{{formateur.email}}</p>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <p class="text-muted">Tel GSM : </p>
                      </td>
                      <td>
                        <p class="text-muted">{{formateur.tele}}</p>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        <p class="text-muted">Statut : </p>
                      </td>
                      <td>
                        <p class="text-muted">En cours</p>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>


            </div><br>

            <button type="button" style="width: 100px;" (click)="retour()"
              class="btn btn-lightning rounded-0 mb-2 mr-2">Retour</button>


          </div>




          <div class="col-md-12 col-lg-8 mb-4 align-items-stretch">



            <section class="al-tabs">
              <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true"><strong>Informations personnelles</strong></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab-2-content" role="tab" aria-controls="tab-2-content" aria-selected="false"><strong>Dernier diplôme</strong></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab-3-content" role="tab" aria-controls="tab-3-content" aria-selected="false"><strong>Expérience professionnelle</strong></a>
                  </li>
 
              </ul>


              <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
                    <table class="table table-striped table-inverse">
                      <tbody><br>
                        <tr>
                          <td>
                            <p class="text-muted">Nom Complet : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.nom}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Stuation familiale : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.situtionF}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Sexe : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.sexe}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">CIN : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.cin}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Adresse Complet : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.adresse}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Date de naissanace : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.dateNais}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Lieu de naissance : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.lieuNais}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">E-mail : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.email}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Telephone GSM : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.tele}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <div class="tab-pane fade" id="tab-2-content" role="tabpanel" aria-labelledby="tab-2">
  
                    <table class="table table-striped table-inverse ">
                      <tbody><br>
                        <tr>
                          <td>
                            <p class="text-muted">Série du bac : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.bacObention}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Année d'obetention du bac : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.anneeObtentionBac}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Dernier diplôme : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.dernierDiplome}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Année d'obtention du dernier diplôme : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.anneeObtentionDiplome}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Spécialité ou option du dernier diplôme : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.specialiteDiplom}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Mention obtenue du dernier diplôme : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.mentionDiplome}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Etablissement d'origine : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.facObtentionDiplome}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane fade" id="tab-3-content" role="tabpanel" aria-labelledby="tab-3">
                    <table class="table table-striped table-inverse ">
                      <tbody><br>
                        <tr>
                          <td>
                            <p class="text-muted">Années d'expérience(ans) : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.anneeExp}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Specialité : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.specialiteExp}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="text-muted">Description de l'expérience professionnelle : </p>
                          </td>
                          <td>
                            <p class="text-muted">{{formateur.descriptionExp}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

              </div>
          </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>