
<div>

  <h5 class="mb-4 text-muted">Dashboard/bibliotheque </h5>
  
  <!--List Stagiaires-->
  
  <div class="row mb-4">
  
    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5 style="font-family: Georgia, serif; font-size: 27px;">Liste des Livres </h5>
        </div>
        <div class="card-body">
  
          
          <div class="row">
            <div class="col-lg-5">
  
              <div class="form-group">
  
                <input type="text" class="form-control" [(ngModel)]="_searchTerm" placeholder="Chercher par livre">
              </div>
            </div>
            <div class="col-lg-3">
  
            </div>
  
            <div class="col-lg-4" style="float: right;padding-left: 78px;">
              <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 " (click)="openPDF()"> <i class="fa fa-print"
                  style="font-size: 22px;"></i>&nbsp;<strong>Imprimer</strong> (.pdf)</a>
  
              <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 " (click)="affichAdd()"> <i class="fa fa-plus"
                  style="font-size: 22px;"></i>&nbsp;<strong> Ajouter livre</strong> </a>
            </div>
          </div>
  
          <div class="table-responsive-md" id="htmlData" #htmlData>
            <table class="table table-hover">
              <thead>
                <tr style="font-family: Georgia, serif;">
                  <th scope="col">#</th>
                  <th scope="col">N°</th>
                  <th scope="col">Titre</th>
                  <th scope="col">Matière</th>
                  <th scope="col">Departement</th>
                  <th scope="col">Type</th>
                  <th scope="col">Etat</th>
   
                </tr>
              </thead>
              <tbody>
                <tr style="font-family: Georgia, serif;"
                  *ngFor="let b of bibliotheque | async | bibliothequefiler : _searchTerm| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <th scope="row">{{b.idBib}}</th>
                  <td style="padding-top: 22px;">N123</td>
                  <td style="padding-top: 22px;">{{b.titre}}</td>
                  <td style="padding-top: 22px;">{{b.matiere}}</td>
                  <td style="padding-top: 22px;">{{b.departement}}</td>
                  <td style="padding-top: 22px;">{{b.type}}</td>
          
                  <td>
                    <span class="badge badge-primary rounded-0 p-1">{{b.etat}}</span>
                  </td>
                  <td>
                    <!-- <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 " (click)="editeStagiaire(stagiaire)">
                      <i class="far fa-edit"></i>
                    </a>-->
  
                    <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 ">
                      <i class="fas fa-info" style="width: 13px;"></i>
                    </a>
  
                    <a class="btn btn-sm btn-outline-lightning rounded-0" (click)="deleteBibliotheque(b.idBib)">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>
  
              </tbody>
            </table>

            
            <div class="row">
              <div class="col-lg-6">

                <div class="row">

                  <div class="col-lg-1">

                    <label for="élements" style="margin-left: 10px;padding-top: 10px;">Afficher</label>

                  </div>
                  <div class="col-lg-2">

                    <div class="form-group">
                      <select class="form-control" name="show" id="show" [(ngModel)]="pageSize"
                        style="width: 80px;margin-left: 20px;">
                        <option value="6">6</option>
                        <option value="12">12</option>
                        <option value="24">24</option>

                      </select>
                    </div>

                  </div>
                  <div class="col-lg-1">
                    <label for="élements" style="padding-top: 10px;">élements</label>
                  </div>
                </div>


              </div>
              <div class="col-lg-6">

                <ngb-pagination style="float: right; margin-right: 36px;" [collectionSize]=nbr [(page)]="page"
                  [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
              </div>
            </div>
  
          </div>
  
    </div>
  </div><br>

  <app-ajouter-livre *ngIf="showAdd" ></app-ajouter-livre>
  