.btn:hover{
 
        background:#ebb710;
        color:#fff;
    
}


.card-title{
        background-color: #ebb710;
        font-family: Georgia, serif;
        font-size: 47px;
      }
    
      th, td{
        font-family: Georgia, serif;
      }
    