<div class="row mb-4">
  <div class="col-md-12 col-lg-12">
    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3">
        <h5>Liste des Reclamations</h5>
      </div><br>

      <div class="form-group" style="width: 350px;">
        <select class="form-control" name="" id="">
          <option>Formateur</option>
          <option>Stagiaire</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive-md">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom Complet</th>
                <th scope="col">Formateur/stagiaire</th>
                <th scope="col">Filière</th>
                <th scope="col">CNE</th>
                <th scope="col">Description</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td style="padding-top: 22px;">Rachid hassan</td>
                <td style="padding-top: 22px;">Formateur</td>
                <td style="padding-top: 22px;">Physique</td>
                <td style="padding-top: 22px;">SZ123</td>
                <td style="padding-top: 22px;">aqxszedcvfrtgbnhyujkilomp</td>
                <td>
                <a class="btn btn-sm btn-outline-lightning rounded-0">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <th scope="row">1</th>
                <td style="padding-top: 22px;">safe safe </td>
                <td style="padding-top: 22px;">stagiaire</td>
                <td style="padding-top: 22px;">Arabic</td>
                <td style="padding-top: 22px;">SZ123</td>
                <td style="padding-top: 22px;">aqxszedcvfrtgbnhyujkilomp</td>
                <td>
                <a class="btn btn-sm btn-outline-lightning rounded-0">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>

              <tr>
                <th scope="row">1</th>
                <td style="padding-top: 22px;">yousef yousef</td>
                <td style="padding-top: 22px;">Stgiaire</td>
                <td style="padding-top: 22px;">Physique</td>
                <td style="padding-top: 22px;">EDF1254</td>
                <td style="padding-top: 22px;">aqxszedcvfrtgbnhyujkilomp</td>
                <td>
                <a class="btn btn-sm btn-outline-lightning rounded-0">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>