<aside class="sidebar shadow-sm">

  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/img/user.jpg" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">MASSAOUD Mohammed</p>
      <small class="text-uppercase role">Administrateur</small>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div>
  <nav class="sidebar-menu pt-3 pb-3">



    <ul class="menu-items">
      <li *ngIf="showAdminBoard">
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-tv"></i>&nbsp;
          <span>Tableau de bord</span>
          <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
        </a>
      </li>


      <li *ngIf="showAdminBoard">
        <div class="menu-header mt-3 mb-2">Stagiaires</div>
        <a routerLink="/liste-stagiares" routerLinkActive="active">
          &nbsp;<i class="fas fa-user-graduate" style="font-size: 19px;"></i>&nbsp;
          <span>Gestion des stagiaires </span>
        </a>
      </li>

      <li *ngIf="showAdminBoard || showUserBoard">
        <a routerLink="/index-stagiaire" routerLinkActive="active">
          &nbsp;<i class="fas fa-user-graduate" style="font-size: 19px;"></i>&nbsp;
          <span>Espace stagiaires </span>
        </a>
      </li>

      <li *ngIf="showAdminBoard">
        <div class="menu-header mt-3 mb-2">Formateurs</div>
        <a routerLink="/formateurs" routerLinkActive="active">
          <i class="fas fa-chalkboard-teacher" style="font-size: 19px;"></i>
          <span>Gestion des Formateurs</span>
        </a>
      </li>

      <li *ngIf="showAdminBoard || showModeratorBoard">
        <a routerLink="/index-formateur" routerLinkActive="active">
          <i class="fas fa-chalkboard-teacher" style="font-size: 19px;"></i>
          <span>Espace Formateur</span>
        </a>
      </li>

      <li *ngIf="showAdminBoard">
        <div class="menu-header mt-3 mb-2">Supplémentaire</div>
        <a routerLink="/departements" routerLinkActive="active">&nbsp;
          <i class="fas fa-building" style="font-size: 19px;"></i>&nbsp;
          <span>Départements</span>
        </a>
      </li>

      <li *ngIf="showAdminBoard">
        <a routerLink="/cours" routerLinkActive="active">&nbsp;
          <i class='fas fa-chalkboard'></i>
          <span>Cours</span>
        </a>
      </li>

      <li *ngIf="showAdminBoard">
        <a routerLink="/resultats" routerLinkActive="active">&nbsp;
          <i class="fas fa-file-alt" style="font-size: 19px;"></i>&nbsp;&nbsp;
          <span>Evolution & Résultats</span>
        </a>
      </li>

      <li *ngIf="showAdminBoard">
        <a routerLink="/liste-reclamations" routerLinkActive="active">&nbsp;
          <i class="fas fa-book-open"></i>&nbsp;
          <span>Gestion des réclamations</span>
        </a>
      </li>

      <li *ngIf="showAdminBoard">
        <a routerLink="/bibliotheque" routerLinkActive="active">&nbsp;
          <i class="fas fa-book-reader" style="font-size: 19px;"></i>&nbsp;
          <span>Bibliothèque</span>
        </a>
      </li>

      <li *ngIf="showAdminBoard">
        <a routerLink="/vacances" routerLinkActive="active">
          <i class="fas fa-bed" style="font-size: 19px;"></i>&nbsp;
          <span>Vacances</span>
        </a>
      </li>
      <hr>
      <li *ngIf="isLoggedIn">
        <a routerLink="/vacances" routerLinkActive="active">
          <i class="fas fa-sign-out-alt"></i>&nbsp;
          <a href class="nav-link" (click)="logout()"><span>Deconnecter</span></a>
        </a>
      </li>
    </ul>
  </nav>
</aside>
