<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 col-lg-11 mb-11 align-items-stretch">
      <div class="card border-0 rounded-0 h-100">
        <div class="card-title mb-1 p-3" style="background-color: #ebb710;">
          <h5 style="font-family: Georgia, serif; font-size: 27px;">Reviews</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for=""> Filter par filière</label>
                <select class="form-control" name="" id="">
                  <option value="" disabled></option>
                  <option>Arabic</option>
                  <option>English</option>
                  <option>Physique</option>
                  <option>Mathematique</option>
                </select>
              </div>
            </div>
          </div>
          <hr style="background-color: #ebb710;">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table ">
                <thead>
                  <tr>
                    <th style="width:15%;">Filière</th>
                    <th class="number" style="width:15%;">Stagiaire</th>
                    <th style="width:15%;">CNE</th>
                    <th style="width:55%;">Description</th>
                  </tr>
                </thead>
                <tbody class="no-border-x">
                  <tr>
                    <td>Mathematique</td>
                    <td>ayoub ayoub</td>
                    <td>FG123</td>
                    <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
                  </tr>
                  <tr>
                    <td>Informatique</td>
                    <td>Rachid Rachid</td>
                    <td>ED142</td>
                    <td>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</td>
                  </tr>
                  <tr>
                    <td>Mathematique</td>
                    <td>sara sara</td>
                    <td>AQ123</td>
                    <td>hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</td>
                  </tr>
                  <tr>
                    <td>Mathematique</td>
                    <td>khadija khadija</td>
                    <td>RR123</td>
                    <td>kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</td>
                  </tr>
                  <tr>
                    <td>Informatique</td>
                    <td>fouad fouad</td>
                    <td>EEE142</td>
                    <td>jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>