<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 col-lg-11 mb-11 align-items-stretch">
      <div class="card border-0 rounded-0 h-100">
        <div class="card-title mb-1 p-3" style="background-color: #ebb710;">
          <h5 style="font-size: 27px;">Listes des Stagiaires</h5>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for=""> Filter par filière</label>
                <select class="form-control" name="" id="">
                  <option value="" disabled></option>
                  <option>Arabic</option>
                  <option>English</option>
                  <option>Physique</option>
                  <option>Mathematique</option>
                </select>
              </div>
            </div>
          </div>
          <hr style="background-color: #ebb710;">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table ">
                <thead>
                  <tr>
                    <th style="width:15%;">Filière</th>
                    <th style="width:15%;">Fichier</th>
                  </tr>
                </thead>
                <tbody class="no-border-x">
                  <tr>
                    <td>Mathematique</td>
                    <td>https://drive.google.com/open?id=19cz0VW0lka2Stghu_AYu-IT98890G6wD</td>
                  </tr>
                  <tr>
                    <td>Informatique</td>
                    <td>https://drive.google.com/open?id=1gRJJ5TIHqJKrEjFFNCBYLHFBZqY-j37b</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>